
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: grey;
    
}

 header {
    /* background-image:; */
    background-color: black;
    font-size: 30px;
    color: rgb(153, 255, 0);
    text-transform: uppercase;
    text-shadow: -1px 3px 3px indigo;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 1px;
    font-family: ccmonstermash, sans-serif;
    font-weight: 400;
    font-style: normal;
    }

#quiz-area {
    
    margin-bottom: 20px;
    background-image: url(https://store-images.s-microsoft.com/image/apps.49109.13704834064962972.1308a6d3-919b-4a2c-8736-772e92189eed.166d4919-c3d7-42c8-bf6c-46e58a43e978?mode=scale&q=90&h=1080&w=1920);
    background-position: 0px, 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 150px;
}

#start {
    justify-content: center;
    background-color: black;
    color: orange;
    text-shadow: -1px 1.5px 1px purple;
    margin: 100px;
    padding: 20px;
    font-size: 40px;
}

#keeper-label {
    position: relative;
    background: rgba(39, 38, 38, 0.8);
    top: -100px;
    color: orange;
    text-shadow: -1px 1px 2.5px indigo;
    font-size: 30px;
    text-transform: uppercase;
    /* font-family: ; */
    border-radius: 10px;
    padding: 10px;
    font-family: ccmonstermash, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#keeper {
    margin-bottom: -150px;
    margin-top: -100px;
    background-image: url(https://thumbs.gfycat.com/WealthySillyGalago.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    padding: 20%;
}

#keeper:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


#questions {
    position: relative;
    background: rgba(39, 38, 38, 0.8);
    top: 130px;
    color: yellowgreen;
    text-shadow: -1px 1px 2.5px indigo;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    font-family: ccmonstermash, sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    background-color: transparent;
    color: indigo;
    border: greenyellow 2px solid;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: -2px 1px 3px purple;
    text-shadow: -1px 1px 1px greenyellow;
    font-family: ccmonstermash, sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


#win-screen {
    block-size: 1000px;
    background-image: url("https://www.teahub.io/photos/full/82-824687_landscape-gif.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* #win-button {
   margin: 1px; 

} */


.hidden {
    display: none;
   }
   
   .visible {
   }