
body {
    text-align: center;
    background-color: grey;
}

 header {
    background-color: black;
    font-size: 30px;
    color: rgb(153, 255, 0);
    text-transform: uppercase;
    text-shadow: -1px 3px 3px indigo;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 1px;
    /* font-family: ; */
    }
/* 
#score-section {
    font-family: 'Permanent Marker', cursive;
    font-style: italic;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

#score-label{
    color: darkred;
}

.score-marks {
    
}

#score-correct {
    color:white;
}

#score-wrong {
    color: darkred;
} */

#quiz-area {
    
    margin-bottom: 20px;
    background-image: url(https://store-images.s-microsoft.com/image/apps.49109.13704834064962972.1308a6d3-919b-4a2c-8736-772e92189eed.166d4919-c3d7-42c8-bf6c-46e58a43e978?mode=scale&q=90&h=1080&w=1920);
    background-position: 0px, 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 150px;
}

#keeper-label {
    position: relative;
    background: rgba(39, 38, 38, 0.8);
    top: -100px;
    color: orange;
    text-shadow: -1px 1px 2.5px indigo;
    font-size: 30px;
    text-transform: uppercase;
    /* font-family: ; */
    border-radius: 10px;
    padding: 10px;
}

#keeper {
    margin-bottom: -150px;
    margin-top: -100px;
    background-image: url(https://thumbs.gfycat.com/WealthySillyGalago.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    padding: 20%;
}

#questions {
    position: relative;
    background: rgba(39, 38, 38, 0.8);
    top: 130px;
    color: yellowgreen;
    text-shadow: -1px 1px 2.5px indigo;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
}

button {
    background-color: transparent;
    color: indigo;
    border: greenyellow 2px solid;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: -2px 1px 3px purple;
    text-shadow: -1px 1px 1px greenyellow;
    
}

#start {
    left: 220px;
    background-color: black;
    color: orange;
    text-shadow: -1px 1.5px 1px purple;
    position:relative;
    margin: 100px;
}


button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.hidden {
    display: none;
   }
   
   .visible {
       display: block;
   }